@use "../utils";

.chefs-section {
  &__title {
    position: relative;
    margin: 0 auto 24px;

    @media (min-width: utils.$bp-tablet) {
      display: block;
      margin-bottom: 80px;
    }

    &::before,
    &::after {
      display: none;
      position: absolute;
      width: 352px;
      border: 2px solid var(--color-brand-light);
      content: "";
      bottom: 23px;

      @media (min-width: utils.$bp-desktop) {
        display: block;
      }
    }

    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: utils.$bp-tablet) {
      flex-direction: row;
    }
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
