.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 42px;
  }

  &__map {
    flex-shrink: 0;
    width: 600px;
    height: 595px;
    border: none;
    border-radius: 16px;
  }
  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    margin: 0 auto 16px;
  }
}
