@use "../utils";

.formats-section {
  &__title {
    margin-bottom: 24px;

    @media (min-width: utils.$bp-tablet) {
      margin-bottom: 80px;
      
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }
}
