@use "../utils";

.traditions-section {
  padding-top: 20px;

  @media (min-width: utils.$bp-tablet) {
    padding-top: 96px;
  }
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }

  &__content {
    max-width: 710px;
  }

  &__title {
    margin-bottom: 24px;

    @media (min-width: utils.$bp-tablet) {
      margin-bottom: 42px;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 16px;

      @media (min-width: utils.$bp-desktop) {
        margin-bottom: 42px;
      }
    }
    &--limited {
      @media (min-width: utils.$bp-tablet) {
        max-width: 330px;
      }
    }
  }

  &__image {
    border-radius: 400px 400px 0 0;
    display: none;
    @media (min-width: utils.$bp-tablet) {
      display: block;
      width: 350px;
    }
    @media (min-width: utils.$bp-desktop) {
      width: 393px;
    }
  }
}
