@use "../utils";

.footer {
  position: relative;
  background-image: url("../images/footer-background.png");
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
  }

  &::before {
    right: 0;
    background-image: url("./../images//decor-bread-small-mobile.png");
    width: 100px;
    height: 90px;

    @media (min-width: utils.$bp-tablet) {
      left: 0;
      background-image: url("./../images//decor-bread-small.png");
      width: 180px;
      height: 100px;
    }

    @media (min-width: utils.$bp-desktop) {
      height: 120px;
    }
  }

  &::after {
    width: 85px;
    height: 205px;
    top: 0;
    left: 0;
    background-image: url("./../images/decor-bread-large-mobile.png");

    @media (min-width: utils.$bp-tablet) {
      width: 380px;
      height: 150px;
      right: 0;
      top: auto;
      left: auto;
      background-image: url("./../images/decor-bread-large.png");
    }

    @media (min-width: utils.$bp-desktop) {
      height: 190px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: utils.$bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    @media (min-width: utils.$bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__contacts,
  &__address-info {
    flex-grow: 1;
  }

  &__menu,
  &__address-list,
  &__address-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__socials {
    margin-top: 16px;
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: center;

    @media (min-width: utils.$bp-tablet) {
      justify-content: flex-start;
    }
  }

  &__socials-icon {
    fill: var(--color-primary-light);
    transition: fill 0.3s;

    &:hover {
      fill: var(--color-brand-normal);
    }
  }

  &__address-link {
    font-weight: 300;
    font-size: 14px;
    transition: color 0.3s;
    color: var(--color-primary-light);

    &:hover {
      color: var(--color-brand-normal);
    }

    @media (min-width: utils.$bp-tablet) {
      font-size: 16px;
    }
  }

  &__address-copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
  }
}
