@use "../utils";
.section {
  padding: 20px 0;

  @media (min-width: utils.$bp-tablet) {
    padding: 48px 0;
  }
  &__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.5;

    @media (min-width: utils.$bp-tablet) {
      font-size: 64px;
      line-height: 1.3;
    }

    &--centered {
      text-align: center;
    }
  }
}
