@use "../utils";

.input-form {
  width: 100%;
  padding: 8px 24px;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.17;

  @media (min-width: utils.$bp-tablet) {
    padding: 16px 42px;
  }

  &::placeholder {
    color: var(--color-secondary-dark);
    line-height: 1.17;
  }

  &:focus {
    border-color: var(--color-brand-normal);
  }

  &:focus::placeholder {
    color: var(--color-primary-dark);
  }
}

.form-terms {
  display: none;

  @media (min-width: utils.$bp-tablet) {
    display: block;
    font-size: 12px;
    font-weight: 500;
    max-width: 220px;
    text-align: center;
    margin: 0 auto;
  }

  &__link {
    color: var(--color-primary-dark);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
