.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  background-color: var(--color-primary-light);
  transform: translateX(100%);
  transition: transform 0.3s;

  &::after {
    content: "";
    position: absolute;
    width: 180px;
    height: 240px;
    background-image: url(./../../images/decor-bread-modal.png);
    bottom: 0;
    right: 0;
  }
  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 24px;
    fill: transparent;
    stroke: var(--color-primary-dark);
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    color: var(--color-primary-dark);
    font-size: 14px;

    &:hover {
      color: var(--color-brand-normal);
    }
  }
}
