.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 0.3s,
    visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--color-primary-light);
  padding: 128px;
  overflow-y: auto;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 190px;
    height: 243px;
    background-image: url(./../../images/decor-bread-modal.png);
  }

  &__btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    background-color: transparent;
    stroke: var(--color-primary-dark);
  }

  &__title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.31;
    text-align: center;
    margin-bottom: 8px;
  }

  &__text {
    text-align: center;
    margin-bottom: 72px;
  }

  &__form-field {
    margin-bottom: 32px;
  }

  &__button {
    margin: 0 auto 24px;
  }
}
