*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  display: block;
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select {
  font: inherit;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

address {
  font-style: normal;
}
